@import "bourbon/bourbon"

$light:   #cccccc
$purple:  #9b4dca

body
  padding: 2vw


// Admin

ul#admin-lines
  list-style: none
  li
    display: block
    button.delete
      padding: 0 1.5rem 2rem 1.5rem
      font-size: 2rem
      display: inline-block
    div.text
      display: inline-block
      span.syllable
        margin: 0 1em
        font-weight: 600
        color: $purple
    div.author
      display: inline-block
      //margin-left: 1em
      color: $light



.new-line
  //@include display(flex)
  input
    //@include flex(3)
    margin: 0 1em 0 0
  label
    font-weight: lighter
    margin: 0.2em 0 0 0
  div
    @include display(flex)
    @include align-items(flex-end)
    label
      @include flex(1)
      margin: 0.2em 1em 0 0
    select
      margin: 0
    button
      @include flex(2)
      margin: 0 0 0 0

// Phone Above
@media only screen and (min-width:480px)
  .new-line
    //@include display(flex)
