body {
  padding: 2vw; }

section#main-wrap {
  text-align: center;
  width: 100%;
  padding-top: 10vw; }
  section#main-wrap ul#main-random {
    list-style: none;
    text-align: center; }
    section#main-wrap ul#main-random li {
      font-size: 3rem;
      text-transform: uppercase;
      letter-spacing: 1px; }
      section#main-wrap ul#main-random li a {
        font-weight: 400;
        -webkit-transition: all;
        -moz-transition: all;
        transition: all; }
        section#main-wrap ul#main-random li a:hover {
          font-weight: 600; }
  section#main-wrap button.reload {
    width: 20vw;
    margin: 0 auto; }

nav ul {
  list-style: none; }
  nav ul li {
    display: inline-block; }
  nav ul li.log a {
    cursor: pointer; }

ul#admin-lines {
  list-style: none; }
  ul#admin-lines li {
    display: block; }
    ul#admin-lines li button.delete {
      padding: 0 1.5rem 2rem 1.5rem;
      font-size: 2rem;
      display: inline-block; }
    ul#admin-lines li div.text {
      display: inline-block; }
      ul#admin-lines li div.text span.syllable {
        margin: 0 1em;
        font-weight: 600;
        color: #9b4dca; }
    ul#admin-lines li div.author {
      display: inline-block;
      color: #cccccc; }

.new-line input {
  margin: 0 1em 0 0; }

.new-line label {
  font-weight: lighter;
  margin: 0.2em 0 0 0; }

.new-line div {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-align: end; }
  .new-line div label {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0.2em 1em 0 0; }
  .new-line div select {
    margin: 0; }
  .new-line div button {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
    margin: 0 0 0 0; }
